[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[functions]
  directory = "database"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200
  force = true

[context.production.environment]
  VITE_API_BASE_URL = "https://buymeacoffee297518.netlify.app/.netlify/functions/server"
